<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos :: cabecalho(${pageTitle})}" />

  <body>
    <div th:replace="~{fragmentos :: navegacao(${usuarioLogado})}"></div>

    <div class="container">
      <div th:replace="~{fragmentos :: saudacoes(${usuarioLogado})}" />

      <div class="row">
        <h1 th:text="${pageTitle}">Formulário de Moto</h1>
      </div>

      <div class="row">
        <form
          th:object="${moto}"
          th:action="${moto.id == null} ? @{/motos} : @{/motos/{id}(id=${moto.id})}"
          method="post"
        >
          <div class="mb-3">
            <label for="placa" class="form-label" th:text="#{moto.placa.label}"
              >Placa:</label
            >
            <input
              class="form-control"
              type="text"
              th:field="*{placa}"
              th:errorclass="is-invalid"
              id="placa"
              th:placeholder="#{moto.placa.placeholder}"
            />
            <div class="invalid-feedback" th:errors="*{placa}"></div>
          </div>

          <div class="mb-3">
            <label
              for="modelo"
              class="form-label"
              th:text="#{moto.modelo.label}"
              >Modelo:</label
            >
            <input
              class="form-control"
              type="text"
              th:field="*{modelo}"
              th:errorclass="is-invalid"
              id="modelo"
              th:placeholder="#{moto.modelo.placeholder}"
            />
            <div class="invalid-feedback" th:errors="*{modelo}"></div>
          </div>

          <div class="mb-3">
            <label for="marca" class="form-label" th:text="#{moto.marca.label}"
              >Marca:</label
            >
            <input
              class="form-control"
              type="text"
              th:field="*{marca}"
              th:errorclass="is-invalid"
              id="marca"
              th:placeholder="#{moto.marca.placeholder}"
            />
            <div class="invalid-feedback" th:errors="*{marca}"></div>
          </div>

          <div class="mb-3">
            <label
              for="status"
              class="form-label"
              th:text="#{moto.status.label}"
              >Status:</label
            >
            <select
              class="form-select"
              th:field="*{status}"
              th:errorclass="is-invalid"
              id="status"
            >
              <option value="" th:text="#{moto.status.selecione}">
                Selecione o status
              </option>
              <option
                th:each="status : ${lista_status}"
                th:value="${status}"
                th:text="${status.descricao}"
              ></option>
            </select>
            <div class="invalid-feedback" th:errors="*{status}"></div>
          </div>

          <div class="mb-3">
            <label
              for="urlFoto"
              class="form-label"
              th:text="#{moto.url_foto.label}"
              >URL da Foto:</label
            >
            <input
              class="form-control"
              type="url"
              th:field="*{urlFoto}"
              th:errorclass="is-invalid"
              id="urlFoto"
              th:placeholder="#{moto.url_foto.placeholder}"
            />
            <div class="invalid-feedback" th:errors="*{urlFoto}"></div>
          </div>

          <input
            type="hidden"
            name="_csrf"
            th:value="${_csrf != null ? _csrf.token : ''}"
          />

          <input th:if="${moto.id != null}" type="hidden" th:field="*{id}" />

          <div class="mb-3">
            <button type="submit" class="btn btn-primary">
              <span th:if="${moto.id == null}" th:text="#{moto.form.criar}"
                >Criar Moto</span
              >
              <span th:if="${moto.id != null}" th:text="#{moto.form.atualizar}"
                >Atualizar Moto</span
              >
            </button>
            <a
              href="/motos"
              class="btn btn-secondary"
              th:text="#{form.cancelar}"
              >Cancelar</a
            >
          </div>
        </form>
      </div>

      <div class="row">
        <a href="/motos" th:text="#{comum.voltar_lista}">Voltar para Lista</a>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
